@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(200, 200, 202);
	border-radius: 5px;
}

::-webkit-scrollbar-track {
	background-color: #f8f5f5;
	border-radius: 5px;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* For Firefox */
.hide-scrollbar {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE and Edge */
}

/* Additional styles for the chat container */
.chat-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.message-container {
	flex: 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
	padding: 0.5rem;
}

.message-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

/* Ensure the typing indicator is visible */
.typing-indicator {
	display: flex;
	justify-content: center;
	margin: 0.5rem 0;
}

/* Smooth scrolling for the message container */
.smooth-scroll {
	scroll-behavior: smooth;
}
/* Add this to your CSS file for the typing indicator */
.dot-typing {
	position: relative;
	left: -9999px;
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background-color: #acabaf;
	color: #acabaf;
	box-shadow: 9984px 0 0 0 #acabaf, 9999px 0 0 0 #acabaf, 10014px 0 0 0 #acabaf;
	animation: dot-typing 1s infinite linear;
}

@keyframes dot-typing {
	0% {
		box-shadow: 9984px 0 0 0 #acabaf, 9999px 0 0 0 #acabaf, 10014px 0 0 0 #acabaf;
	}
	16.667% {
		box-shadow: 9984px -10px 0 0 #acabaf, 9999px 0 0 0 #acabaf, 10014px 0 0 0 #acabaf;
	}
	33.333% {
		box-shadow: 9984px 0 0 0 #acabaf, 9999px 0 0 0 #acabaf, 10014px 0 0 0 #acabaf;
	}
	50% {
		box-shadow: 9984px 0 0 0 #acabaf, 9999px -10px 0 0 #acabaf, 10014px 0 0 0 #acabaf;
	}
	66.667% {
		box-shadow: 9984px 0 0 0 #acabaf, 9999px 0 0 0 #acabaf, 10014px 0 0 0 #acabaf;
	}
	83.333% {
		box-shadow: 9984px 0 0 0 #acabaf, 9999px 0 0 0 #acabaf, 10014px -10px 0 0 #acabaf;
	}
	100% {
		box-shadow: 9984px 0 0 0 #acabaf, 9999px 0 0 0 #acabaf, 10014px 0 0 0 #acabaf;
	}
}
